terraform/.terraform.lock.hcl
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/4.66.1/linux_amd64/terraform-provider-aws_v4.66.1_x5
terraform/terraform.tfstate.backup
terraform/terraform.tfstate